</div>
</body>
</html>

<script type='text/javascript'>
    function confirme() {
        if(document.getElementById("btnSup").disabled == false){
            document.getElementById("btnSup").disabled = true;
        }
        else{
            document.getElementById("btnSup").disabled = false
        }
    }
</script>