<!DOCTYPE html>
<html>

<head>
    <title>
        gsb
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 450px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }

    #connex {
        background: #30c2e3;
        border-color: #30c2e3;
    }

    img {
        width: 100px;
        height: 50px;
        align-items: center;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<div class="example-wrapper">
            <img src="https://baptiste-bisson.com/wp-content/uploads/2016/04/Logo-gsb.png" alt="logo_gsb">
        </div>-->